<style type="text/css">
    .site-navbar { background-color: transparent !important; }
    #divHeader { position: absolute; z-index: 1; width: 100%; }
    .hero-content { position: absolute; top: 100px; text-align: center; left: 0px; width: 45%; min-width: 320px; }
        .hero-content h1, .hero-content h2 { color: #fff; text-shadow: 1px 1px 1px #000; font-weight: normal; }
        .hero-content h1 { font-size: 32px; }
        .hero-content h2 { font-size: 18px; }
    .cover-image .cover-image-credits { position: absolute; bottom: -3px; right: 3px; color: #ddd; font-size: 13px; }
</style>
<div id="divContent">
    <div class="cover">
        <div class="cover-image position-relative" style="height: 540px;">
            <div class="offerBanner" style="height: 100%;
                    background: url(&quot;/css/images/hero/usg.png&quot;) no-repeat 28% 34%;">
            </div>
            <div class="cover-image-credits">
                Copyright: <a style="color: #fff;" target="_blank" href='http://www.123rf.com/profile_decorwithme'>decorwithme / 123RF </a>
            </div>
            <div class="hero-content">
                <h1 class="text-uppercase"><%- universal_supplier_gateway %></h1>
                <h2>A unified XML API interface for all leading travel content providers.<br /> Reduce cost and time to market for travel booking engines</h2>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="content">
            <h1 class="text-center"></h1>
            <h2 class="mtl text-center"></h2>
            <div class="container-fluid">
                <div class="row platform">
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- universal_supplier_gateway_url %>/#" title='Checkout Flight'><i class="platform_ios"></i><span class="name">Flight</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- universal_supplier_gateway_url %>/hotel" title='Checkout Hotel'><i class="platform_android"></i><span class="name">Hotel</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- universal_supplier_gateway_url %>/#" title='Checkout Car'><i class="platform_windows"></i><span class="name">Car</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- universal_supplier_gateway_url %>/#" title='Checkout Activity'><i class="platform_html"></i><span class="name">Activity</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-12">
                <div class="row ptl">
                    <div class="col-md-11 col-md-offset-1 pll">
                        <p>
                            The Universal Supplier Gateway (USG) is our one-stop solution for supplier integration. You can now have easy access to inventory and availability information from multiple suppliers with just a single integration.
                        </p>
                        <p>
                            The Universal Supplier Gateway enables you be ahead of the competitive travel business industry by providing the following powerful capabilities:
                        </p>
                        <ul class="list-style-circle">
                            <li>Supplier Aggregration: Aggregate inventory from multiple suppliers. Get worldwide coverage and supplier integration in a fraction of time and effort.</li>
                            <li>Deduplication: Group the same hotels that come from various suppliers, which, in turn, allows you to select the cheapest hotel from multiple suppliers or choose hotels from suppliers that provide the highest yield.</li>
                            <li>Streaming APIs: Our asynchronous APIs allow you to consume results as soon as they are returned by suppliers.</li>
                            <li>Multi-room Booking: Seamlessly search for multiple rooms and book multiple rooms together.</li>
                            <li>Cloud-first Architecture: High availability and scalability. You no longer need to worry or compromise on downtime.</li>
                            <li>Plug-and-play Architecture: Flexibility to write your own connectors and plug your own supplier integrations.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>