<style type="text/css">
    .site-navbar { background-color: transparent !important; }
    #divHeader { position: absolute; z-index: 1; width: 100%; }
    .hero-content { position: absolute; top: 120px; text-align: center; left: 20px; width: 45%; min-width: 320px; max-width: 600px; }
        .hero-content h1, .hero-content h2 { color: #fff; text-shadow: 1px 1px 1px #000; font-weight: normal; }
        .hero-content h1 { font-size: 38px; }
        .hero-content h2 { font-size: 22px; }
</style>
<div id="divContent">
    <div class="cover">
        <div class="cover-image position-relative" style="height: 580px;">
            <div class="offerBanner" style="height: 100%;
                    background: url(&quot;/css/images/hero/be.png&quot;) no-repeat 25% 45%;">
            </div>
            <!--<div class="cover-image-credits">
                Copyright: <a style="color: #fff;" target="_blank" href='http://www.123rf.com/profile_varijanta'>varijanta / 123RF</a>
            </div>-->
            <div class="hero-content">
                <h1 class="text-uppercase"><%- booking_engine %></h1>
                <h2>Empowering Millions Of Travel Bookings For Our Customers Every Year</h2>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="content">
            <h1 class="text-center"></h1>
            <h2 class="mtl text-center"></h2>
            <div class="container-fluid">
                <div class="row platform">
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- booking_engine_url %>/#" title='Checkout Flight'><i class="platform_ios"></i><span class="name">Flight</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- booking_engine_url %>/hotel" title='Checkout Hotel'><i class="platform_android"></i><span class="name">Hotel</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- booking_engine_url %>/car" title='Checkout Car'><i class="platform_windows"></i><span class="name">Car</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="site-font fadeInLeft" href="/<%- booking_engine_url %>/#" title='Checkout Activity'><i class="platform_html"></i><span class="name">Activity</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row ptl">
            <div class="col-md-10 col-md-offset-1 pll">
                <p>Our comprehensive set of APIs help you build an end-to-end booking solution with minimal time, cost, and complexity. We enable faster time to market by providing easy-to-integrate and ready-to-use APIs that come with the following powerful capabilities:</p>
                <ul class="list-style-circle">
                    <li>Cheapest price de-dupe feature that enables you to provide the best deals</li>
                    <li>Performance-optimized search</li>
                    <li>Rich content attributes</li>
                    <li>Multi-currency and multi-language support</li>
                    <li>Intuitive error handling</li>
                    <li>Enhanced logging</li>
                </ul>
            </div>
        </div>
    </div>
</div>