<footer id="divFooter" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="content">
                <div class="col-xs-12 col-md-4">
                    <h4><%- brand %></h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Terms Of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h4>Products</h4>
                    <ul>
                        <li><a href="<%- booking_engine_url %>"><%- booking_engine %></a></li>
                        <li><a href="<%- universal_supplier_gateway_url %>"><%- universal_supplier_gateway %></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="<%- support_link %>">Support</a></li>
                        <li><a href="<%- status_link %>">Status</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>